@page "/students"
@inject HttpClient client

<h3>Student</h3>

<table class="table">
    <thead>
        <tr>
            <th>grade</th>
            <th>class</th>
            <th>no</th>
            <th>name</th>
            <th>score</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in students)
        {
        <tr>
            <td>@student.Grade</td>
            <td>@student.Cclass</td>
            <td>@student.No</td>
            <td>@student.Name</td>
            <td>@student.Score</td>
            <td>
                <BlazorModal title="Update" id="student.Id"/>
                <button class="btn btn-danger" @onclick="@(()=>removeStudent(student.Id))">Remove</button>
            </td>
        </tr>
        }
    </tbody>
</table>

<BlazorModal title="Create" id="0"/>

@code {
    private List<Student> students = new List<Student>();

    protected override async Task OnInitializedAsync()
    {
        students = await client.GetFromJsonAsync<List<Student>>("/api/students"); //GET READ
    }

    async Task removeStudent(int id){
        
        await client.DeleteAsync("/api/students/" + id);
        await OnInitializedAsync();
    }
}
