@inject HttpClient client
@inject NavigationManager uriHelper

<button class="btn btn-primary" @onclick="@ModalShow">@title</button>

@if (showModal)
{
    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">@title</h4>
                    <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
                </div>

                <form class="form-horizontal" action="" method="post">
                    <input type="hidden" @bind="student.Id" />
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Grade</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Grade를 입력해 주세요." @bind="student.Grade" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="writer" class="col-sm-2 control-label">Class</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Class를 입력해 주세요." @bind="student.Cclass" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="writer" class="col-sm-2 control-label">No</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="No를 입력해 주세요." @bind="student.No" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="writer" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Name를 입력해 주세요." @bind="student.Name" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="writer" class="col-sm-2 control-label">Score</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Score를 입력해 주세요." @bind="student.Score" />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary waves-effect waves-light" @onclick=@ModalOk>OK</button>
                        <button type="button" class="btn" @onclick="@ModalCancel">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
@code
{
    [Parameter]
    public string title { get; set; }

    [Parameter]
    public int id { get; set; }

    public Student student;

    protected override async Task OnInitializedAsync()
    {
        List<Student> students = await client.GetFromJsonAsync<List<Student>>("/api/students"); //GET READ

        if (id == 0) { student = new Student(); }
        else { student = students.First(x => x.Id == id); }
    }

    bool showModal = false;

    void ModalShow() => showModal = true;
    void ModalCancel() => showModal = false;
    void ModalOk()
    {
        List<Student> students = new List<Student>();

        students.Add(student);

        if (student.Id == 0) //Insert
        {
            client.PostAsJsonAsync("/api/students", students);
        }
        else //Update
        {
            client.PutAsJsonAsync("/api/students", students);
        }

        uriHelper.NavigateTo("students",true);

        showModal = false;
    }


    //BootStrap Modal 출처 : https://gist.github.com/conficient/ba98d1662c659e170ec16650acea05c8
}
